---
import AstroComponent from "components/AstroComponent.astro"
import {ReactComponentSSR} from "components/ReactComponentSSR"
import {ReactComponentCSR} from "components/ReactComponentCSR"
---
<html>
  <head>
    <title>Hello, World!</title>
    <!-- <link rel="icon" href="https://visuelltljud.se/wp-content/uploads/2022/03/cropped-VL-svart_210816_arial-192x192.png" size="192x192"/>
    <link rel="icon" href="https://visuelltljud.se/wp-content/uploads/2022/03/cropped-VL-svart_210816_arial-32x32.png" size="32x32"/> -->
    <link rel="icon" href="/VL_favicon_192.png" size="192x192"/>
    <link rel="icon" href="/VL_favicon_32.png" size="32x32"/>
  </head>
  <body>
    <h1>Hello, Visuellt Ljud on ipad</h1>
    <div>
      <div>An astro component (Always ssr)</div>
      <AstroComponent someProp="myProp1" />
    </div>
    <div>
      <div>A react component (Optional csr disabled)</div>
      <ReactComponentSSR someProp="myProp2" />
    </div>
    <div>
      <div>A react component (Optional csr enabled)</div>
      <ReactComponentCSR someProp="myProp3" client:only />
    </div>
  </body>
</html>