---
const { someValue } = Astro.params
---
<html>
  <head>
    <title>Hello, World!</title>
  </head>
  <body>
    <h1>Hello, Visuellt Ljud</h1>
    <p>Your value is: {someValue}</p>
  </body>
</html>